.section-booking1 {
    background-image: url(./assets/images/spain.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    width: 1770px;
    height: 700px;
}

.booking1 {
    position: absolute;
    margin-left: 330px;
    margin-top: 229px;
    width: 540px;
    height: 371px;
    background-color: $box-color;
    opacity: 0.9;
    text-align: left;
}

.booking-text {
    margin-top: 47px;
    margin-left: 30px;
    margin-bottom: 23px;
    font-size: 20px;
    text-align: left;
}

.booking-text--style {
    margin-left: 30px;
    margin-bottom: 26px;
    text-align: left;
    font-size: 20px;
    @include uppercase();
    text-align: left;
}

.section-booking2 {
    background-image: url(./assets/images/spain2.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    width: 1770px;
    height: 700px;
}

.booking2 {
    position: absolute;
    margin-left: 898px;
    margin-top: 227px;
    width: 540px;
    height: 371px;
    background-color: $box-color;
    opacity: 0.9;
    text-align: left;
}
