/* /.Site-header */
.header-bg {
    background-image: url(../images/Header.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    width: 1770px;
    height: 820px;
}

.text-header__logo {
    text-align: center;
    @include uppercase();
    font-size: 48px;
    letter-spacing: 4.8px;
    padding-top: 264px;
    padding-bottom: 11px;    
}

.text-description__logo {
    font-size: 22px;
    letter-spacing: 6.82px;
    padding-bottom: 48px;
}

/* Form Input */
.form {
    display: flex;
    flex-direction: row;
    width: 653px;
    height: 63px;
    border: 1 solid $border-color;
    margin-left: 558px;
}

.input {
    flex-grow: 2;
    border: none;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2.8px;
    &:focus, &:hover, &:active {
        outline: none;
        background-color: $border-color;
        color: $text-color;
    }
}
.input__button {
    width: 153px;
    height: 63px;
    letter-spacing: 1.4px;
}

.scroll-down {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 107px;
    font-size: 14px;
    letter-spacing: 2.8px;
}

.header-bottom {
    margin-top: 146px;
    background-image: url(../images/Rectangle.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    width: 1770px;
    height: 80px;
}
.header-nav {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 319px;
    margin-right: 330px;
    padding: 30px 0;
    @include uppercase();

    li {
        display: inline-block;
        margin: 0 20px;
        font: 14px $body;
        letter-spacing: 0px;
    }
    a {
        display: block;
    }
}
