/* Reset */

* {
    margin: 0;
    padding: 0;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap');

/* Universal */
body {
    font: 1em $body;
    color: $text-color;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $headings;
    color: $text-color;
    text-align: center;
}

a {
    color: $text-color;
    text-decoration: none;
    &:hover, &:focus, &:active {
        color: $link-color;
    }
}

