.tourist {
    background-image: url(/assets/images/tourist-say.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    width: 1770px;
    height: 731px;
}

.tourist-text {
    font-size: 36px;
}

