/* Set fonts */
$body: 'Aleo', serif;
$headings: 'Josefin Sans', sans-serif;

/* Colors */
$text-color: #FFFFFF;
$style-color: #5474FD;
/* $border-botton: #5474FD; */
$link-color: #15161b;
$border-color: #999999;
$box-color: #232323;
$color-box: #E8E8E8;
$triangle-color: #000000;


